
// Button
$btn-letter-spacing: normal;
$btn-text-transform: none;
$btn-font-weight: 700;

// Typography
$body-font-family: 'Raleway', sans-serif;

$mdc-typography-styles-headline1: (
        font-family: unquote("Raleway"),
        font-size: 98
);
$mdc-typography-styles-headline2: (
        font-family: unquote("Raleway"),
        font-size: 61
);
$mdc-typography-styles-headline3: (
        font-family: unquote("Raleway"),
        font-size: 49
);
$mdc-typography-styles-headline4: (
        font-family: unquote("Raleway"),
        font-size: 35
);
$mdc-typography-styles-headline5: (
        font-family: unquote("Raleway"),
        font-size: 24
);
$mdc-typography-styles-headline6: (
        font-family: unquote("Raleway"),
        font-size: 20
);
$mdc-typography-styles-body1: (
        font-family: unquote("Raleway"),
        font-size: 16
);
$mdc-typography-styles-body2: (
        font-family: unquote("Raleway"),
        font-size: 14
);
$mdc-typography-styles-subtitle1: (
        font-family: unquote("Raleway"),
        font-size: 16
);
$mdc-typography-styles-subtitle2: (
        font-family: unquote("Raleway"),
        font-size: 14
);
$mdc-typography-styles-button: (
        font-family: unquote("Raleway"),
        font-size: 14
);
$mdc-typography-styles-overline: (
        font-family: unquote("Raleway"),
        font-size: 10
);
$mdc-typography-styles-caption: (
        font-family: unquote("Raleway"),
        font-size: 12
);