<template>
  <v-card class='pa-4'>
    <v-card-title>
      <v-text-field
        v-model='search'
        append-icon='mdi-magnify'
        label='Search'
        single-line
        hide-details
      />
    </v-card-title>
    <v-data-table
      class='elevation-1'
      :headers='headers'
      :items='list'
      :search='search'
      :loading='isLoading'
      loading-text='Загрузка данных, подождите...'
      no-data-text='Отсутствуют данные'
      hide-default-footer
      :page.sync='currentPage'
      :items-per-page='itemsPerPage'
      @page-count='totalPages = $event'
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-spacer />
          <v-dialog v-model='dialog' max-width='500px'>
            <template v-slot:activator='{on, attrs}'>
              <v-btn color='primary' dark class='mb-2' v-bind='attrs' v-on='on'>
                Добавить
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class='text-h5'>{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols='12'>
                      <v-text-field
                        v-model='editedItem.name'
                        label='Название'
                      />
                    </v-col>
                    <v-col cols='12'>
                      <v-text-field
                        v-model='editedItem.sort'
                        label='Сортировка'
                      />
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color='blue darken-1' text @click='close'>Отмена</v-btn>
                <v-btn color='blue darken-1' text @click='save'
                >Сохранить
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model='dialogDelete' max-width='500px'>
            <v-card>
              <v-card-title class='d-flex justify-center'>
                Удалить этот элемент?
              </v-card-title>
              <v-card-actions>
                <v-spacer />
                <v-btn color='blue darken-1' text @click='closeDelete'>
                  Отмена
                </v-btn>
                <v-btn color='blue darken-1' text @click='deleteItemConfirm'>
                  OK
                </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]='{item}'>
        <v-icon small class='mr-2' @click='editItem(item)'>mdi-pencil</v-icon>
        <v-icon small @click='deleteItem(item)'>mdi-delete</v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color='primary' @click='handle'>Сбросить</v-btn>
      </template>
    </v-data-table>
    <div class='text-center pt-2'>
      <v-pagination
        v-model='currentPage'
        :length='totalPages'
        @input='handlePageChange'
        :disabled='isLoading'
        total-visible='5'
      />
    </div>
  </v-card>
</template>

<script>
import {actionTypes as breadActionTypes} from '@/store/modules/bread'
import {actionTypes as catalogActionTypes} from '@/store/modules/catalog'
import {mapState} from 'vuex'
import _ from 'lodash'

export default {
  name: 'Composition',
  data: () => {
    return {
      totalItems: null,
      totalPages: null,
      currentPage: null,
      dialog: false,
      dialogDelete: false,
      itemsPerPage: null,
      search: '',
      editedIndex: -1,
      editedItem: {
        name: '',
        sort: null
      },
      defaultItem: {
        name: '',
        sort: null
      },
      headers: [
        {text: 'Название', align: 'start', value: 'name'},
        {text: 'Сортировка', align: 'sort', value: 'sort'},
        {text: 'Действия', value: 'actions', sortable: false}
      ],
      list: [],
      breadcrumbs: [
        {
          text: 'Главная',
          disabled: false,
          to: {name: 'Home'},
          exact: true
        },
        {
          text: 'Списки',
          disabled: false,
          to: {name: 'Catalogs'},
          exact: true
        },
        {
          text: 'Значения',
          disabled: true
        }
      ]
    }
  },
  computed: {
    ...mapState({
      isLoading: (state) => state.catalog.isLoading
    }),
    formTitle() {
      return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
    }
  },
  watch: {
    dialog(value) {
      value || this.close()
    },
    dialogDelete(value) {
      value || this.closeDelete()
    },
    search(value) {
      this.debounceSearch(value)
    }
  },
  mounted() {
    this.$store.dispatch(breadActionTypes.setBreadCrumbs, this.breadcrumbs)
    this.handle()
  },
  methods: {
    handlePageChange(value) {
      this.currentPage = value

      this.handle()
    },
    handle(name) {
      name = name ?? null

      let params = {
        page: this.currentPage
      }

      if (name) {
        params['name'] = name
      }

      let credentials = {id: this.$route.params.id}

      this.$store
        .dispatch(catalogActionTypes.getComposition, {
          credentials,
          params
        })
        .then((response) => {
          if (
            response.data.data.length === 0 &&
            response.data.current_page > 1
          ) {
            this.currentPage -= 1
            this.handle()
          } else {
            this.currentPage = response.data.current_page
            this.itemsPerPage = response.data.per_page
            this.totalPages = response.data.last_page
            this.list = response.data.data
          }
        })
    },
    editItem(item) {
      this.editedIndex = this.list.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      this.editedIndex = this.list.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    deleteItemConfirm() {
      this.$store
        .dispatch(catalogActionTypes.deleteComposition, this.editedItem)
        .then(() => {
          this.handle()
          this.closeDelete()
        })
    },
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    save() {
      let editedIndex = this.editedIndex
      let editedItem = this.editedItem

      if (editedIndex > -1) {
        this.$store
          .dispatch(catalogActionTypes.updateComposition, editedItem)
          .then(() => this.handle())
      } else {
        editedItem.catalog_id = this.$route.params.id

        this.$store
          .dispatch(catalogActionTypes.addComposition, editedItem)
          .then(() => this.handle())
      }

      this.close()
    },
    debounceSearch: _.debounce(function(value) {
      this.handle(value)
    }, 300)
  }
}
</script>

<style scoped></style>
