<template>
  <v-container>
    <v-btn @click="test">Test</v-btn>
  </v-container>
</template>

<script>
import {actionTypes as authActionTypes} from '@/store/modules/auth'
import {actionTypes as breadActionTypes} from '@/store/modules/bread'

export default {
  name: 'Home',
  data: () => ({
    breadcrumbs: [
      {
        text: 'Главная',
        disabled: true,
        href: 'Home',
      },
    ],
  }),
  mounted() {
    this.$store.dispatch(breadActionTypes.setBreadCrumbs, this.breadcrumbs)
  },
  methods: {
    test() {
      this.$store.dispatch(authActionTypes.getProfile)
    },
  },
}
</script>
