<template>
  <v-container>
    <h1>Secure Page</h1>
    This is secure page
  </v-container>
</template>

<script>
import {actionTypes as breadActionTypes} from '@/store/modules/bread'

export default {
  name: 'Secure',
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Главная',
          disabled: false,
          to: {name: 'Home'},
          exact: true
        },
        {
          text: 'Секретная',
          disabled: true
        }
      ]
    }
  },
  mounted() {
    this.$store.dispatch(breadActionTypes.setBreadCrumbs, this.breadcrumbs)
  },
}
</script>