<template>
  <div class="hello">
    <button @click="click">Click</button>
    <template v-if="isLoggedIn">
      <p>Current User: {{ profile.name }}</p>
      <button @click="signOut">Sign Out</button>
    </template>
    <template v-else>
      <button @click="redirectGoogle">Redirect Google</button>
    </template>
  </div>
</template>

<script>
import {actionTypes, getterTypes} from '@/store/modules/auth'
import {mapGetters} from 'vuex'

export default {
  name: 'HelloWorld',
  computed: {
    ...mapGetters({
      isLoggedIn: getterTypes.isLoggedIn,
      profile: getterTypes.profile
    })
  },
  methods: {
    click() {
      this.$store.dispatch(actionTypes.signIn, {
        email: 'iskander.kamaliev@gmail.com',
        password: 'secret'
      })
    },
    signOut() {
      this.$store.dispatch(actionTypes.signOut)
    },
    redirectGoogle() {
      window.location.href = 'https://api.task-list.app/redirect/google'
    }
  }
}
</script>
