<template>
  <v-app>
    <v-app-bar app flat color="white">
      <v-progress-linear
        app
        :active="isLoading"
        :indeterminate="isLoading"
        height="5"
        absolute
        striped
        top
        color="light-blue accent-4"
      />
      <v-container class="py-0 fill-height">
        <v-toolbar-title widt>ToDo</v-toolbar-title>

        <v-spacer />

        <template v-if="profile">
          <!--          <v-btn text @click="$router.push({name: 'Login'})">Login</v-btn>-->
          <!--          <v-btn text @click="$router.push({name: 'Secure'})">Secure</v-btn>-->
          <v-btn text @click="$router.push({name: 'Tickets'})">Карточки</v-btn>
          <v-btn v-if='isAdmin' text @click="$router.push({name: 'Catalogs'})">Списки</v-btn>
        </template>

        <v-spacer />

        <template v-if="profile">
          <span class="text-sm-body-2 align-self-center ma-4"
            >Привет,
            <span class="font-weight-bold">{{ profile.name }}</span></span
          >
          <v-btn text @click="signOut">Выйти</v-btn>
        </template>
        <template v-else>
          <v-btn text @click="$router.push({name: 'Login'})">Войти</v-btn>
          <!--              <v-divider vertical/>-->
          <!--              <v-btn text @click="$router.push({name: 'Registration'})">Регистрация</v-btn>-->
        </template>
      </v-container>
    </v-app-bar>

    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <v-col>
            <v-container class="pb-0">
              <v-breadcrumbs :items="breadcrumbs" class="pa-0" />
            </v-container>
            <br />
            <v-sheet min-height="70hv" rounded="lg">
              <transition name="fade" mode="out-in">
                <router-view />
              </transition>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import {
  actionTypes as authActionTypes,
  getterTypes as authGetterTypes,
} from '@/store/modules/auth'
import {getterTypes as breadGetterTypes} from '@/store/modules/bread'
import {mapGetters, mapState} from 'vuex'

export default {
  name: 'App',
  created() {
    if (!this.profile) {
      this.$store.dispatch(authActionTypes.getProfile)
    }
  },
  computed: {
    ...mapGetters({
      profile: authGetterTypes.profile,
      isLoggedIn: authGetterTypes.isLoggedIn,
      breadcrumbs: breadGetterTypes.breadcrumbs,
      isAdmin: authGetterTypes.isAdmin,
    }),
    ...mapState({
      isLoading: (state) => state.auth.isLoading,
    }),
  },
  watch: {
    isLoggedIn() {
      if (!this.profile) {
        this.$store.dispatch(authActionTypes.getProfile)
      }
    },
  },
  methods: {
    signOut() {
      this.$store
        .dispatch(authActionTypes.signOut)
        .then(() => this.$router.push({name: 'Login'}))
    },
  },
}
</script>

<style lang="css">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
