<template>
  <v-container class="text-center">
    <span class="display-1">Подождите идет авторизация...</span>
  </v-container>
</template>

<script>
import {actionTypes} from '@/store/modules/auth'

export default {
  name: 'Callback',
  mounted() {
    const query = this.$route.query

    this.$store.dispatch(actionTypes.googleCallback, query)
        .then(() => {
          this.$router.push({name: 'Home'})
        }).catch(() => {
      this.$router.push({name: 'Login'})
    })
  }
}
</script>