<template>
  <v-container>
    <div class="align-center justify-center d-flex flex-column">
      <div class="layout-content w-full">
        <v-card elevation="16" class="text-center pa-1 v-sheet">
          <v-card-title class="justify-center display-1 mb-2"
            >Авторизация</v-card-title
          >
          <v-card-text>
            <validation-observer ref="observer" v-slot="{invalid}">
              <v-form @submit.prevent="submit">
                <validation-provider
                  v-slot="{errors}"
                  name="E-mail"
                  rules="required|email"
                >
                  <v-text-field
                    v-model="form.email"
                    :error-messages="errors"
                    label="E-mail"
                    outlined
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{errors}"
                  name="Пароль"
                  rules="required|min:3"
                >
                  <v-text-field
                    v-model="form.password"
                    :error-messages="errors"
                    label="Пароль"
                    type="password"
                    outlined
                  />
                </validation-provider>
                <v-btn
                  :disabled="invalid"
                  :loading="isLoading"
                  color="primary"
                  type="submit"
                  depressed
                  large
                  block
                >
                  Войти
                </v-btn>
                <!--                <div class="caption font-weight-bold text-uppercase my-6">или войдите через</div>-->
                <!--                <v-btn @click="googleOAuth" color="primary lighten-2" depressed large block>-->
                <!--                  <v-icon left>mdi-google</v-icon>-->
                <!--                  Google-->
                <!--                </v-btn>-->
              </v-form>
            </validation-observer>
          </v-card-text>
        </v-card>
      </div>
    </div>
  </v-container>
</template>

<script>
import {mapState} from 'vuex'
import {actionTypes as authActionTypes} from '@/store/modules/auth'
import {actionTypes as breadActionTypes} from '@/store/modules/bread'
import {required, email, min} from 'vee-validate/dist/rules'
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from 'vee-validate'

setInteractionMode('eager')

extend('required', {
  ...required,
  message: '{_field_} не может быть пустым',
})

extend('email', {
  ...email,
  message: 'Невалидный E-mail',
})

extend('min', {
  ...min,
  message: '{_field_} не может быть меньше {length} символов',
})

export default {
  name: 'Login',
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data: () => ({
    breadcrumbs: [
      {
        text: 'Главная',
        disabled: false,
        to: {name: 'Home'},
        exact: true,
      },
      {
        text: 'Вход',
        disabled: true,
      },
    ],
    form: {
      email: 'mi@sumatoreo.ru',
      password: 'password',
    },
  }),
  computed: {
    ...mapState({
      isLoading: (state) => state.auth.isLoading,
    }),
  },
  mounted() {
    this.$store.dispatch(breadActionTypes.setBreadCrumbs, this.breadcrumbs)
  },
  methods: {
    // googleOAuth() {
    //   this.$store.dispatch(authActionTypes.googleAuth)
    //       .then(url => {
    //         window.location.href = url
    //       })
    // },
    submit() {
      this.$refs.observer.validate().then((res) => {
        if (res) {
          this.$store
            .dispatch(authActionTypes.signIn, {
              email: this.form.email,
              password: this.form.password,
            })
            .then(() => this.$router.push({name: 'Home'}))
        }
      })
    },
  },
}
</script>

<style lang="css">
.layout-content {
  max-width: 480px;
}

.w-full {
  width: 100% !important;
}
</style>
