<template>
  <v-container>
    <div class="align-center justify-center d-flex flex-column">
      <div class="layout-content w-full">
        <v-card elevation="16" class="text-center pa-1 v-sheet">
          <v-card-title class="justify-center display-1 mb-2"
            >Регистрация</v-card-title
          >
          <v-card-text>
            <validation-observer ref="observer" v-slot="{invalid}">
              <v-form @submit.prevent="submit">
                <validation-provider
                  v-slot="{errors}"
                  name="Имя"
                  rules="required|min:3"
                >
                  <v-text-field
                    v-model="form.name"
                    :error-messages="errors"
                    label="Имя"
                    outlined
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{errors}"
                  name="E-mail"
                  rules="required|email"
                  vid="email"
                >
                  <v-text-field
                    v-model="form.email"
                    :error-messages="errors"
                    label="E-mail"
                    outlined
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{errors}"
                  name="Пароль"
                  rules="required|min:6|confirmed:confirmation"
                >
                  <v-text-field
                    v-model="form.password"
                    :error-messages="errors"
                    label="Пароль"
                    type="password"
                    outlined
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{errors}"
                  name="Повторите пароль"
                  rules="required|min:6"
                  vid="confirmation"
                >
                  <v-text-field
                    v-model="form.password_confirm"
                    :error-messages="errors"
                    label="Повторите пароль"
                    type="password"
                    outlined
                  />
                </validation-provider>
                <v-btn
                  :disabled="invalid"
                  :loading="isLoading"
                  color="primary"
                  type="submit"
                  depressed
                  large
                  block
                >
                  Регистрация
                </v-btn>
                <!--                <div class="caption font-weight-bold text-uppercase my-6">или зарегистрируйтесь с</div>-->
                <!--                <v-btn @click="googleOAuth" color="primary lighten-2" depressed large block>-->
                <!--                  <v-icon left>mdi-google</v-icon>-->
                <!--                  Google-->
                <!--                </v-btn>-->
                <div class="mt-5 caption">
                  Регистрируясь, вы соглашаетесь с <br />
                  <a
                    href="/auth/signup"
                    aria-current="page"
                    class="router-link-exact-active router-link-active"
                    >условия обслуживания</a
                  >
                  &
                  <a
                    href="/auth/signup"
                    aria-current="page"
                    class="router-link-exact-active router-link-active"
                    >политика конфиденциальности</a
                  >
                </div>
              </v-form>
            </validation-observer>
          </v-card-text>
        </v-card>
      </div>
    </div>
  </v-container>
</template>

<script>
import {actionTypes as breadActionTypes} from '@/store/modules/bread'
import {actionTypes as authActionTypes} from '@/store/modules/auth'
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from 'vee-validate'
import {email, min, required, confirmed} from 'vee-validate/dist/rules'
import {mapState} from 'vuex'

setInteractionMode('eager')

extend('confirmed', {
  ...confirmed,
  message: 'Пароли не совпадают',
})

extend('required', {
  ...required,
  message: '{_field_} не может быть пустым',
})

extend('email', {
  ...email,
  message: 'Невалидный E-mail',
})

extend('min', {
  ...min,
  message: '{_field_} не может быть меньше {length} символов',
})

export default {
  name: 'Registration',
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data: () => ({
    breadcrumbs: [
      {
        text: 'Главная',
        disabled: false,
        to: {name: 'Home'},
        exact: true,
      },
      {
        text: 'Регистрация',
        disabled: true,
      },
    ],
    form: {
      name: 'Test',
      email: 'test@mail.ru',
      password: 'secret',
      password_confirm: 'secret',
    },
  }),
  computed: {
    ...mapState({
      isLoading: (state) => state.auth.isLoading,
    }),
  },
  mounted() {
    this.$store.dispatch(breadActionTypes.setBreadCrumbs, this.breadcrumbs)
  },
  methods: {
    // googleOAuth() {
    //   this.$store.dispatch(authActionTypes.googleAuth)
    //       .then(url => {
    //         window.location.href = url
    //       })
    // },
    submit() {
      this.$refs.observer.validate().then((res) => {
        if (res) {
          this.$store
            .dispatch(authActionTypes.signUp, {
              name: this.form.name,
              email: this.form.email,
              password: this.form.password,
              password_confirmation: this.form.password_confirm,
            })
            .then(() => {
              this.$router.push({name: 'Login'})
            })
            .catch((error) => {
              this.$refs.observer.setErrors(error)
            })
        }
      })
    },
  },
}
</script>

<style lang="css">
.layout-content {
  max-width: 480px;
}

.w-full {
  width: 100% !important;
}
</style>
